[submodule "reservation-service"]
	path = reservation-service
	url = ./microservices/reservation-service/
[submodule "config-service"]
	path = coreservices/config-service
	url = https://github.com/rajeshkannan/config-service.git
